<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yht.demo.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yht.demo.entity.model.Order">
        <id column="id" property="id"/>
        <result column="status" property="status"/>
        <result column="mobile_no" property="mobileNo"/>
        <result column="apply_time" property="applyTime"/>
        <result column="vie_for_time" property="vieForTime"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="sex" property="sex"/>
        <result column="loan_amount" property="loanAmount"/>
        <result column="loan_period" property="loanPeriod"/>
        <result column="loan_purpose" property="loanPurpose"/>
        <result column="id_number" property="idNumber"/>
        <result column="current_city" property="currentCity"/>
        <result column="phone_attribution" property="phoneAttribution"/>
        <result column="family_city" property="familyCity"/>
        <result column="level_education" property="levelEducation"/>
        <result column="company_name" property="companyName"/>
        <result column="professional_type" property="professionalType"/>
        <result column="income_amount" property="incomeAmount"/>
        <result column="income_type" property="incomeType"/>
        <result column="working_years" property="workingYears"/>
        <result column="social_security" property="socialSecurity"/>
        <result column="accumulation_fund" property="accumulationFund"/>
        <result column="estate_info" property="estateInfo"/>
        <result column="estate_values" property="estateValues"/>
        <result column="car_info" property="carInfo"/>
        <result column="car_values" property="carValues"/>
        <result column="insurance_info" property="insuranceInfo"/>
        <result column="insurance_values" property="insuranceValues"/>
        <result column="credit_card_limit" property="creditCardLimit"/>
        <result column="sesame_scores" property="sesameScores"/>
        <result column="weilidai_limit" property="weilidaiLimit"/>
        <result column="share_id" property="shareId"/>
        <result column="partner_id" property="partnerId"/>
        <result column="order_source" property="orderSource"/>
        <result column="apply_ip" property="applyIp"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>


    <sql id="Order_Column_List">

        CASE status
        WHEN '0' THEN '0'
        WHEN '1' THEN '1'
        WHEN '2' THEN '1'
        ELSE '0' END as status,

        CASE professional_type
        WHEN '0' THEN '上班族'
        WHEN '1' THEN '公务员/事业编制'
        WHEN '2' THEN '自由职业'
        WHEN '3' THEN '个体户'
        WHEN '4' THEN '企业主'
        ELSE '未知' END as professionalType,

        CASE loan_purpose
        WHEN '0' THEN '消费贷款'
        WHEN '1' THEN '结婚贷款'
        WHEN '2' THEN '购房贷款'
        WHEN '3' THEN '购车贷款'
        WHEN '4' THEN '装修贷款'
        WHEN '5' THEN '旅游贷款'
        WHEN '6' THEN '教育培训贷款'
        WHEN '7' THEN '其他贷款'
        ELSE '未知' END as loanPurpose,

        CASE income_type
        WHEN '0' THEN '银行代发'
        WHEN '1' THEN '转账工资'
        WHEN '2' THEN '现金发放'
        ELSE '未知' END as incomeType,

        CASE working_years
        WHEN '0' THEN '6个月以下'
        WHEN '1' THEN '6-12个月'
        WHEN '2' THEN '12个月以上'
        ELSE '未知' END as workingYears,

        CASE social_security
        WHEN '0' THEN '无'
        WHEN '1' THEN '6个月以下'
        WHEN '2' THEN '6-12个月'
        WHEN '3' THEN '12个月以上'
        ELSE '未知' END as socialSecurity,

        CASE accumulation_fund
        WHEN '0' THEN '无'
        WHEN '1' THEN '6个月以下'
        WHEN '2' THEN '6-12个月'
        WHEN '3' THEN '12个月以上'
        ELSE '未知' END as accumulationFund,

        CASE estate_info
        WHEN '0' THEN '无'
        WHEN '1' THEN '商品住宅'
        WHEN '2' THEN '商铺'
        WHEN '3' THEN '办公楼'
        WHEN '4' THEN '厂房'
        WHEN '5' THEN '商铺'
        WHEN '6' THEN '其他'
        ELSE '未知' END as estateInfo,

        CASE estate_values
        WHEN '0' THEN '无'
        WHEN '1' THEN '50万以下'
        WHEN '2' THEN '50万-100万'
        WHEN '3' THEN '100万-200万'
        WHEN '4' THEN '200万以上'
        ELSE '未知' END as estateValues,

        CASE car_info
        WHEN '0' THEN '无'
        WHEN '1' THEN '无车准备购买'
        WHEN '2' THEN '有车不接受抵押'
        WHEN '3' THEN '有车可接受抵押'
        ELSE '未知' END as carInfo,

        CASE car_values
        WHEN '0' THEN '无'
        WHEN '1' THEN '10万以下'
        WHEN '2' THEN '10万-20万'
        WHEN '3' THEN '20万-40万'
        WHEN '4' THEN '40万以上'
        ELSE '未知' END as carValues,

        CASE insurance_info
        WHEN '0' THEN '无'
        WHEN '1' THEN '中国人寿'
        WHEN '2' THEN '中国平安'
        WHEN '3' THEN '太平洋保险'
        WHEN '4' THEN '中国太平'
        WHEN '5' THEN '阳光保险'
        WHEN '6' THEN '安邦保险'
        WHEN '7' THEN '前海人寿'
        WHEN '8' THEN '泰康人寿'
        WHEN '9' THEN '新华保险'
        WHEN '10' THEN '其他'
        ELSE '未知' END as insuranceInfo,

        CASE insurance_values
        WHEN '0' THEN '无'
        WHEN '1' THEN '10万以下'
        WHEN '2' THEN '10万-30万'
        WHEN '3' THEN '30万-60万'
        WHEN '4' THEN '60万以上'
        ELSE '未知' END as insuranceValues,

        age as age, loan_amount as loanAmount, loan_purpose as loanPurpose, current_city as currentCity,
        level_education as levelEducation,family_city as familyCity, income_amount as incomeAmount
    </sql>

    <!--获取首页订单列表-->
    <select id="selectOrderListByMap" parameterType="com.yht.demo.entity.dto.ParameterOrderListDTO" resultType="com.yht.demo.entity.dto.ResultOrderDetailsDTO">
        SELECT
        <include refid="Order_Column_List"/>
        FROM
        order_
        <where>
            <if test="parameterOrderListDTO.canRobOrder = 1">
                and status = #{parameterOrderListDTO.canRobOrder}
            </if>
            <if test="parameterOrderListDTO.loanAmountStart != null ">
                and loan_amount &gt;= #{parameterOrderListDTO.loanAmountStart}
            </if>
            <if test="parameterOrderListDTO.loanAmountEnd != null">
                and loan_amount &lt;= #{parameterOrderListDTO.loanAmountEnd}
            </if>
            <if test="parameterOrderListDTO.loanPeriodStart != null ">
                and loan_period &gt;= #{parameterOrderListDTO.loanPeriodStart}
            </if>
            <if test="parameterOrderListDTO.loanPeriodEnd != null">
                and loan_period &lt;= #{parameterOrderListDTO.loanPeriodEnd}
            </if>
            <if test="parameterOrderListDTO.ageStart != null ">
                and age &gt;= #{parameterOrderListDTO.ageStart}
            </if>
            <if test="parameterOrderListDTO.ageEnd != null">
                and age &lt;= #{parameterOrderListDTO.ageEnd}
            </if>
            <if test="parameterOrderListDTO.incomeAmountStart != null ">
                and income_amount &gt;= #{parameterOrderListDTO.incomeAmountStart}
            </if>
            <if test="parameterOrderListDTO.incomeAmountEnd != null">
                and income_amount &lt;= #{parameterOrderListDTO.incomeAmountEnd}
            </if>
            <if test="parameterOrderListDTO.incomeType != null">
                and income_type = #{parameterOrderListDTO.incomeType}
            </if>
            <if test="parameterOrderListDTO.qualificationInfo != null">
                and income_type = #{parameterOrderListDTO.qualificationInfo}
            </if>
        </where>
        order by apply_time desc
    </select>

    <!--获取订单详情-->
    <select id="getOrderDetailsById" parameterType="java.lang.String" resultType="com.yht.demo.entity.dto.ResultOrderDetailsDTO">
        SELECT
        <choose>
            <when test="myOrderInt == 1">
                CASE WHEN sex_= 0 THEN CONCAT(left(name, 1),"女士") ELSE CONCAT(left(name, 1),"先生") END as name,
                concat_ws('********',substring(mobile_no, 1, 3),substring(mobile_no, 11, 0))as mobileNo,
            </when>
            <otherwise>
                name,
                mobile_no as mobileNo,
            </otherwise>
        </choose>
        <include refid="Order_Column_List"/>
        FROM
        order_
        where
        id = #{orderId}
    </select>

</mapper>
