<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yht.demo.mapper.SearchConditionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yht.demo.entity.SearchConditions">
        <id column="id" property="id" />
        <result column="select_type" property="selectType" />
        <result column="search_title" property="searchTitle" />
        <result column="search_name" property="searchName" />
        <result column="is_valid" property="isValid" />
        <result column="client_id" property="clientId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <select id="getSearchConditionsList" parameterType="java.lang.String" resultType="com.yht.demo.dto.ResultSearchConditionsDTO">
        SELECT
        id as searchId,
        select_type as selectType,
        search_title as searchTitle,
        search_name as searchName
        FROM
        t_search_conditions
        <where>
            is_valid = 1
            <if test="clientId != null">
                and client_id = #{clientId}
            </if>
        </where>
    </select>
</mapper>
