<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yht.demo.mapper.SmsConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yht.demo.entity.SmsConfig">
        <id column="id" property="id" />
        <result column="sign_name" property="signName" />
        <result column="template_code" property="templateCode" />
        <result column="client_id" property="clientId" />
        <result column="create_time" property="createTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <select id="selectByclientName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
          tsc.*
        FROM
          t_sms_config tsc
          left join t_client tc on tc.id = tsc.client_id
        WHERE
          tc.name = #{clientName}
          limit 1
    </select>

</mapper>
