<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yht.demo.mapper.TopUpAmountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yht.demo.entity.model.TopUpAmount">
        <id column="id" property="id"/>
        <result column="client_name" property="clientName"/>
        <result column="mili" property="mili"/>
        <result column="price" property="price"/>
        <result column="sort" property="sort"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <select id="getTopUpAmount" parameterType="java.lang.String" resultType="com.yht.demo.entity.dto.ResultTopUpAmountDTO">
        SELECT
        price,
        mili,
        sort
        FROM
        top_up_amount
        <where>
            <if test="clientName != null">
                client_name = #{clientName}
            </if>
        </where>
    </select>

</mapper>
